@import url("bootstrap.min.css");
@import url("bootstrap-responsive.css");

.loginform {
	margin-top: 30px;
}

.loginform .loginlogo {
	margin-bottom: 30px;
}

.surveyedit .form-group .col {
	padding-left: 0;
	padding-right: 0;
}

.surveyedit .form-group .col.col-md-3 {
	text-align: right;
}

.surveyedit .form-group .col.col-md-3 .btn {
	padding-right: 0;
}

.jumbotron {
	margin-bottom: 15px;
}

@media screen and (min-width: 768px) 
	.container .jumbotron {
	padding-left: 30px;
	padding-right: 30px;
}

